@import url('https://fonts.googleapis.com/css?family=Poppins: 300, 400');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.login {
  width: 300px;
  min-width: 250px;
}

.transition {
  transition: ease-in-out 0.5s;
  z-index: 100;
  position: absolute;
  top: 40%;
  display: flex;
  margin-left: 80px;
  flex-direction: column;
  transition: ease-in-out 0.5s;
}


$radius: 55px;
$circumf: 3.1416 * $radius * 2;
$check-len: 75px;

@keyframes outline {
  from {
    stroke-dasharray: 0, $circumf;
  }
  to {
    stroke-dasharray: $circumf, $circumf;
  }
}

#outline {
  animation: .38s ease-in outline;
  transform: rotate(0deg);
  transform-origin: center;
}

@keyframes circle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

#white-circle {
  animation: .35s ease-in .35s forwards circle;
  transform: none;
  transform-origin: center;
}

@keyframes check {
  from {
    stroke-dasharray: 0, $check-len;
  }
  to {
    stroke-dasharray: $check-len, $check-len;
  }
}

#check {
  animation: .34s cubic-bezier(0.65, 0, 1, 1) .8s forwards check;
  stroke-dasharray: 0, $check-len;
}

@keyframes check-group {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.09);
  }

  to {
    transform: scale(1);
  }
}

#check-group {
  animation: .32s ease-in-out 1.03s check-group;
  transform-origin: center;
}




body {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f6f6f6;

}



.box {
  width: 300px;
  border-bottom: 20px solid #03a9f4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.box h2 {
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.popup {
  z-index: 2;
  background: #ddd;
  padding: 1rem;
  min-height: 200px;
  content: " ";
  position: absolute;
  width: 20%;
  min-width: 300px;
  border-style: solid;
  border-color: transparent transparent #ddd transparent;
  border-radius: 10px;
  top: 40%;
  left:50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: white;
  border:1px solid lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  display: flex;
  margin-top: 20px;
  width: 49%;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}


.box ul{
  position: relative;
  background: fff;
}

.box ul{
  position: relative;
  background: #fff;
}

.active {
  opacity: 0.2;
}

.remainingPlaces {
  font-size: 12px;
  font-weight: 300;
}

.box ul:hover li {
  opacity: 0.2;
}




.box ul li{
  list-style: none;
  padding: 10px;
  width: 100%;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0,0,0,.1);
  transition: transform 0.5s;

}

.box ul li:hover {
  transform: scale(1.1);
  z-index: 100;
  background: #25bcff;
  box-shadow: 0 5px 25px rgba(0,0,0, .2);
  color: #fff;
  opacity: 1;
}


.box ul li span
{
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #25bcff;
  color: #fff;
  display: inline-block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


table {
  border-collapse: collapse;
  border-bottom: 20px solid #03a9f4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 5px;
  background: white;
  padding: 20rem;
  width: 100%;
}

tr {
  padding:1rem;
  width: 100%;
}

th,td {
  padding:0.5rem;
  width: 100%;

}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #03a9f4;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #03a9f4 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.crossmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #ff0000;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.crossmark {
  width: 109px;
  height: 109px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #ff0000;
  stroke-miterlimit: 10;
  margin-left: 20px;
  margin-top: 10px;
  box-shadow: inset 0px 0px 0px #ff0000;
  animation: fillred .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.crossmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.cross__path {
  stroke: #ffffff;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  transform-origin: 50% 50% 0;
}
.cross__path--right {
  animation: 0.3s ease 0.8s normal forwards 1 running stroke;
}
.cross__path--left {
  animation: 1s ease 0.8s normal forwards 1 running stroke;
}
@keyframes fillred {
  100% {
    box-shadow: inset 0px 0px 0px 90px #ff0000;
  }

}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

.time_slot {
  position: relative;
}
.check_small {
  position: absolute;
  right: 5px;
  top: -2px;
}
